* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
  }
  
  header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('desa-background.jpg') no-repeat center center;
    background-size: cover;
    color: #fff;
    padding: 10rem 0 10rem 0; 
  }
  
  section h2 {
    margin-bottom: 20px;
  }
  
  footer {
    background: #333;
  }

  .fade-in {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .fade-in.appear {
    opacity: 1;
  }
  
  section {
    margin: 5rem 0 5rem 0;
  }